<h2 style="font-family:courier new;"><a href="https://trexwithoutt.wordpress.com/" target="_blank">土</a> と Rex Zhou</h2>
<ul class="icons">
	{% if site.facebook_username %}
      	<a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank" class="icon fa-facebook"><img src="{{ site.github.url }}/assets/icon/fb.png" style="width:30px;height:15px;"/></a>
      	{% endif %}
      	{% if site.linkedin_username %}
     	<a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" class="icon fa-linkedin"><img src="{{ site.github.url }}/assets/icon/in.png" style="width:30px;height:15px;"/></a>
      	{% endif %}
      	{% if site.pinterest_username %}
      	<a href="https://pinterest.com/{{ site.pinterest_username }}" target="_blank" class="icon fa-pinterest"><img src="{{ site.github.url }}/assets/icon/pin.png" style="width:30px;height:15px;"/></a>
      	{% endif %}
      	{% if site.github_username %}
      	<a href="https://github.com/{{ site.github_username }}" target="_blank" class="icon fa-github"><img src="{{ site.github.url }}/assets/icon/git.png" style="width:30px;height:15px;"/></a>
      	{% endif %}
      	{% if site.email %}
      	<a href="mailto:{{ site.email }}" target="_blank" class="icon fa-envelope-o"><span class="label">Email</span></a>
      	{% endif %}
</ul>
<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About this guy' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Home' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl }}">
<!-- 		<img src="{{ site.github.url }}/assets/avatar.jpg" / class="gravatar"> -->
		<img src="https://secure.gravatar.com/avatar/fbffe3d746ce69e93b7885b10c4e257a" class="gravatar">
	</a>
	<span class="logo-prompt">{{ prompt }}</span>
</aside>
<!-- <aside>
	<h2 style="font-family:courier new;"><a href="https://trexwithoutt.wordpress.com/" target="_blank">土</a> と Rex Zhou</h2>
	<ul class="icons">
		{% if site.facebook_username %}
      		<li><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank" class="icon fa-facebook"><img src="{{ site.github.url }}/assets/icon/fb.png" style="width:30px;height:30px;"/></a></li>
      		{% endif %}
      		{% if site.linkedin_username %}
     		<li><a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" class="icon fa-linkedin"><img src="{{ site.github.url }}/assets/icon/in.png" style="width:30px;height:30px;"/></a></li>
      		{% endif %}
      		{% if site.pinterest_username %}
      		<li><a href="https://pinterest.com/{{ site.pinterest_username }}" target="_blank" class="icon fa-pinterest"><img src="{{ site.github.url }}/assets/icon/pin.png" style="width:30px;height:30px;"/></a></li>
      		{% endif %}
      		{% if site.github_username %}
      		<li><a href="https://github.com/{{ site.github_username }}" target="_blank" class="icon fa-github"><img src="{{ site.github.url }}/assets/icon/git.png" style="width:30px;height:30px;"/></a></li>
      		{% endif %}
      		{% if site.email %}
      		<li><a href="mailto:{{ site.email }}" target="_blank" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
      		{% endif %}
    	</ul>
</aside>
 -->
